body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
}

.grid-square {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.grid-square.hovered {
    background-color: #3498db;
}
